version: '3.9'
services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ambassador
    volumes:
      - .dbdata:/var/lib/mys
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "--silent" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3306:3306"

  mailpit:
    image: axllent/mailpit
    ports:
      - "1025:1025"
      - "8025:8025"

  backend:
    build: .
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      mailpit:
        condition: service_started
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DB_HOST: db
      DB_NAME: ambassador
      DB_USER: root
      DB_PASSWORD: root
      DB_PORT: 3306
      REDIS_URL: redis://redis:6379
      MAILPIT_URL: mailpit
      MAILPIT_PORT: 1025

  redis:
    image: redis
    ports:
       - "6379:6379"
